@model PlayTime.Web.Models.Customer.CustomerCRUDModel
<h1>Create customer</h1>

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
    </div>
    
    <input type="submit" value="Create"/>
}