@using PlayTime.Infrastructure.Models
@model PlayTime.Web.Models.Project.ProjectIndexModel

<h1>Projects</h1>

<ul>
    @foreach (Project project in Model.Projects)
    {
        <li>
            <a href="@Url.ProjectView(project.Id)">
                <p>@project.Name</p>
            </a>
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Create new...", "Create", "Project")
</p>