#login {
    width:100%;

    @media (min-width: $screen-sm-min) {

    }

    @media (min-width: $screen-md-min) {
        @include center-block();
        width:50%;
    }

    @media (min-width: $screen-lg-min) {
        width:30%;
    }
}
