@using PlayTime.Infrastructure.Models
@model PlayTime.Web.Models.Customer.CustomerIndexModel

<h1>Customers</h1>

<ul>
    @foreach (Customer customer in Model.Customers)
    {
        <li>
            <a href="@Url.CustomerView(customer.Id)">
                <p>@customer.Name</p>
            </a>
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Create new...", "Create", "Customer")
</p>